* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0; }

/***************** 

Main Styling

******************/
body {
  font-size: 1rem;
  background-color: #bdc3c7;
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  left: 0;
  font-family: "PT Sans Narrow", sans-serif; }

ul {
  list-style: none; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #34495e;
  height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ecf0f1;
  text-transform: uppercase; }
  #header a {
    text-decoration: none;
    color: #ecf0f1; }
    #header a:hover {
      text-decoration: none;
      color: #3498db; }
  #header .open-nav {
    text-align: left;
    cursor: pointer;
    width: 33.333333%;
    float: left; }
  #header .logo {
    width: 33.333333%;
    float: left; }
  #header .main-nav {
    position: fixed;
    left: -15.625rem;
    width: 15.625rem;
    height: 100%;
    top: 0;
    background: #7f8c8d;
    padding-top: 1.5rem; }
    #header .main-nav .icon-close {
      cursor: pointer; }
      #header .main-nav .icon-close i {
        font-size: 1.5rem; }
    #header .main-nav ul li {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem; }
      #header .main-nav ul li:first-child {
        padding-top: 1.250rem; }
      #header .main-nav ul li a {
        width: 100%;
        padding: 0.6rem; }
        #header .main-nav ul li a:hover {
          color: #34495e; }
      #header .main-nav ul li #search {
        position: relative;
        padding: 0.3rem;
        right: 1rem;
        border: 0;
        background: transparent;
        cursor: pointer; }
        #header .main-nav ul li #search i {
          color: #7f8c8d; }
      #header .main-nav ul li #find {
        width: 11rem;
        height: 2rem;
        border: 0;
        position: relative;
        left: 1rem;
        padding-left: 0.5rem;
        padding-right: 1.3rem;
        box-shadow: 1px -1px 8px 1px #7f8c8d inset; }
        #header .main-nav ul li #find:focus {
          box-shadow: 1px -1px 8px 1px #3498db inset; }
  #header .shopping-nav {
    height: auto;
    width: 33.333333%;
    float: right;
    text-align: right; }
    #header .shopping-nav li {
      display: inline;
      padding-left: 0.3rem;
      padding-right: 0.3rem; }
      #header .shopping-nav li:first-child {
        margin-right: 0.4rem; }
  #header .user-nav {
    display: none;
    position: fixed;
    background: #34495e;
    top: 3.1rem;
    width: 40%;
    min-height: 5rem;
    padding-top: 1rem;
    right: 0rem;
    text-align: center; }
    #header .user-nav li {
      display: block; }

.jumbotron {
  margin-top: 3rem;
  background: url("../images/jumbotron.jpg") no-repeat center;
  background-size: cover;
  min-height: 17rem;
  border-bottom: 1px solid #c7c4c4; }
  .jumbotron .jumbotron-description {
    padding-bottom: 0.3rem;
    padding-top: 11rem; }
    .jumbotron .jumbotron-description h1 {
      color: #ecf0f1;
      margin-bottom: 0.5rem;
      text-shadow: 1px 1px #7f8c8d; }
    .jumbotron .jumbotron-description .btn {
      text-decoration: none;
      color: #ecf0f1;
      text-transform: uppercase;
      padding: 0.313rem;
      background: #3498db; }
      .jumbotron .jumbotron-description .btn:hover {
        text-decoration: none;
        color: #3498db;
        background: #ecf0f1; }

.featured, .products-list, .product, .main {
  min-height: 26rem;
  margin-top: 0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background: #ecf0f1;
  overflow: hidden; }
  .featured h2, .products-list h2, .product h2, .main h2 {
    color: #34495e;
    margin-bottom: 0.6rem; }
    .featured h2 span, .products-list h2 span, .product h2 span, .main h2 span {
      color: #3498db; }
  .featured .featured-products, .products-list .featured-products, .product .featured-products, .main .featured-products {
    min-height: 26rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem; }
    .featured .featured-products li, .products-list .featured-products li, .product .featured-products li, .main .featured-products li {
      width: 50%;
      height: auto;
      margin-top: 1rem;
      float: left;
      overflow: hidden; }
      .featured .featured-products li a, .products-list .featured-products li a, .product .featured-products li a, .main .featured-products li a {
        color: #34495e; }
        .featured .featured-products li a img, .products-list .featured-products li a img, .product .featured-products li a img, .main .featured-products li a img {
          max-width: 100%;
          height: auto; }

.mens-collection {
  overflow: hidden;
  min-height: 12rem;
  margin-top: 0.5rem;
  background: url("../images/mencollection.jpg") no-repeat center;
  background-size: 100% auto; }
  .mens-collection .mens-collection-title {
    overflow: hidden;
    padding-top: 4rem;
    width: 50%;
    float: left;
    min-height: 12rem; }
    .mens-collection .mens-collection-title h2 {
      color: #34495e; }
      .mens-collection .mens-collection-title h2 span {
        color: #3498db; }
  .mens-collection .mens-collection-img {
    overflow: hidden;
    width: 50%;
    float: right;
    min-height: 12rem;
    padding-top: 8rem; }
    .mens-collection .mens-collection-img .btn {
      text-decoration: none;
      color: #ecf0f1;
      text-transform: uppercase;
      padding: 0.313rem;
      background: #3498db; }
      .mens-collection .mens-collection-img .btn:hover {
        text-decoration: none;
        color: #3498db;
        background: #ecf0f1; }

.womens-collection {
  overflow: hidden;
  min-height: 12rem;
  margin-top: 0.5rem;
  background: url("../images/womencollection.jpg") no-repeat;
  background-size: 100% auto;
  padding: 0; }
  .womens-collection .womens-collection-title {
    overflow: hidden;
    padding-top: 4rem;
    width: 50%;
    float: right;
    min-height: 12rem; }
    .womens-collection .womens-collection-title h2 {
      color: #34495e; }
      .womens-collection .womens-collection-title h2 span {
        color: #3498db; }
  .womens-collection .womens-collection-img {
    overflow: hidden;
    width: 50%;
    float: left;
    min-height: 12rem;
    padding-top: 8rem; }
    .womens-collection .womens-collection-img .btn {
      text-decoration: none;
      color: #ecf0f1;
      text-transform: uppercase;
      padding: 0.313rem;
      background: #3498db; }
      .womens-collection .womens-collection-img .btn:hover {
        text-decoration: none;
        color: #3498db;
        background: #ecf0f1; }

.footer {
  overflow: hidden;
  margin-top: 0.5rem;
  min-height: 23rem;
  padding-top: 0;
  display: block; }
  .footer .links {
    overflow: hidden;
    width: 100%;
    background: darkgrey;
    height: 19rem;
    padding-top: 1rem; }
    .footer .links h3 {
      color: #34495e; }
    .footer .links a {
      color: #ecf0f1; }
      .footer .links a:hover {
        text-decoration: underline; }
    .footer .links .links-grid {
      width: 100%;
      display: inline-block;
      margin-bottom: 1.5rem;
      float: left; }
  .footer .main-footer {
    overflow: hidden;
    background: #202020;
    height: 4rem;
    padding-top: 1rem; }
    .footer .main-footer .main-footer-info {
      padding-top: 0.4rem;
      text-align: left;
      color: #ecf0f1;
      width: 50%;
      float: left; }
    .footer .main-footer .main-footer-social {
      overflow: hidden;
      text-align: right;
      width: 50%;
      float: right; }
      .footer .main-footer .main-footer-social a {
        color: #bdc3c7; }
        .footer .main-footer .main-footer-social a i {
          font-size: 1.8rem; }
        .footer .main-footer .main-footer-social a:first-child:hover {
          color: #c0392b; }
        .footer .main-footer .main-footer-social a:nth-child(2):hover {
          color: #5faee3; }
        .footer .main-footer .main-footer-social a:last-child:hover {
          color: #2980b9; }

.category-nav, .subcategory-nav {
  margin-top: 3rem;
  background: #2b3c4e;
  text-transform: uppercase; }
  .category-nav .selected, .subcategory-nav .selected {
    text-decoration: underline; }
  .category-nav ul, .subcategory-nav ul {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem; }
    .category-nav ul li, .subcategory-nav ul li {
      display: inline;
      margin: 0 1rem; }
      .category-nav ul li a, .subcategory-nav ul li a {
        color: #ecf0f1; }
        .category-nav ul li a:hover, .subcategory-nav ul li a:hover {
          text-decoration: underline; }

.subcategory-nav {
  margin-top: 0;
  background: #ecf0f1;
  font-size: 0.9rem;
  text-transform: none; }
  .subcategory-nav ul li a {
    color: #34495e; }

.product {
  padding-bottom: 1.3rem; }
  .product .price {
    font-size: 1.3rem;
    color: #34495e; }
  .product .description {
    font-weight: lighter;
    border-bottom: 1px solid #7f8c8d;
    padding-bottom: 0.5rem; }
  .product form {
    padding-top: 0.5rem; }
    .product form input {
      margin-left: 0.5rem; }
    .product form .btn-cart {
      margin-top: 0.8rem;
      cursor: pointer;
      background: #34495e;
      color: #ecf0f1;
      text-transform: uppercase;
      border: 0;
      width: 50%;
      height: 2rem; }
      .product form .btn-cart:hover {
        background: #587ca0; }
  .product .featured-product {
    overflow: hidden; }
    .product .featured-product ul {
      width: 100%; }
      .product .featured-product ul li {
        width: 100%;
        height: auto; }

.main {
  margin-top: 3rem;
  padding-bottom: 1.3rem; }
  .main ul li {
    margin-top: 1rem; }
  .main .about {
    margin-top: 2rem;
    text-indent: 20px; }
  .main form {
    margin-top: 2rem;
    width: 100%;
    padding-bottom: 1rem; }
    .main form input {
      width: 100%;
      height: 2rem;
      border: 0;
      padding: 0.6rem; }
    .main form textarea {
      border: 0;
      width: 100%;
      height: 6rem;
      padding: 0.6rem; }
    .main form .btn {
      border: 0;
      background: #34495e;
      color: #ecf0f1;
      width: 100%;
      height: 3rem;
      text-transform: uppercase;
      cursor: pointer; }
      .main form .btn:hover {
        background: #587ca0; }

/*********************** 
MEDIA QUERIES 
***********************/
/* for tablets */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.2rem; }

  .container {
    width: 75%; }

  #header {
    height: 3.5rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem; }
    #header .main-nav {
      padding-top: 1.8rem; }
      #header .main-nav .icon-close i {
        font-size: 1.5rem; }
      #header .main-nav ul li {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem; }
        #header .main-nav ul li:first-child {
          padding-top: 1.250rem; }
        #header .main-nav ul li a {
          padding: 0.6rem; }
        #header .main-nav ul li #find {
          width: 12rem;
          height: 2.5rem;
          padding-left: 0.5rem;
          padding-right: 1.4rem; }
    #header .shopping-nav .user-nav {
      font-size: 1rem;
      width: 20%;
      right: 4.2rem; }

  .jumbotron {
    margin-top: 3rem;
    min-height: 25rem; }
    .jumbotron .jumbotron-description {
      padding-top: 17rem;
      margin-left: 2.3rem; }
      .jumbotron .jumbotron-description h1 {
        font-size: 3rem;
        color: #ecf0f1;
        margin-bottom: 0.5rem;
        text-shadow: 1px 1px #7f8c8d; }

  .featured, .products-list, .product, .main {
    min-height: 27rem;
    margin-top: 0.5rem;
    padding-top: 1.2rem;
    padding-bottom: 2rem; }
    .featured h2, .products-list h2, .product h2, .main h2 {
      margin-bottom: 1.2rem;
      font-size: 2.2rem; }
    .featured .featured-products, .products-list .featured-products, .product .featured-products, .main .featured-products {
      min-height: 28rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
      .featured .featured-products li, .products-list .featured-products li, .product .featured-products li, .main .featured-products li {
        margin-top: 1.5rem; }

  .mens-collection {
    min-height: 17rem; }
    .mens-collection .mens-collection-title {
      padding-top: 5rem;
      width: 50%;
      float: left;
      min-height: 15rem; }
      .mens-collection .mens-collection-title h2 {
        font-size: 2.2rem; }
    .mens-collection .mens-collection-img {
      min-height: 15rem;
      padding-top: 12rem; }
      .mens-collection .mens-collection-img .btn {
        padding: 0.5rem 1rem; }

  .womens-collection {
    min-height: 17rem; }
    .womens-collection .womens-collection-title {
      padding-top: 5rem;
      width: 50%;
      float: right;
      min-height: 15rem; }
      .womens-collection .womens-collection-title h2 {
        font-size: 2.2rem; }
    .womens-collection .womens-collection-img {
      min-height: 15rem;
      padding-top: 12rem; }
      .womens-collection .womens-collection-img .btn {
        padding: 0.5rem 1rem; }

  .footer {
    margin-top: 1rem;
    min-height: 24rem; }
    .footer .links {
      min-height: 20rem;
      padding-top: 1rem; }
      .footer .links .links-grid {
        width: 50%;
        float: left;
        display: inline-block;
        margin-bottom: 2rem; }
        .footer .links .links-grid h3 {
          margin-bottom: 1rem;
          font-size: 2.1rem; }
        .footer .links .links-grid ul li {
          margin-top: 1rem; }
          .footer .links .links-grid ul li a {
            font-size: 1.2rem; }
    .footer .main-footer {
      min-height: 8rem;
      padding-top: 1.2rem; }
      .footer .main-footer .main-footer-info {
        padding-top: 0.5rem;
        text-align: center;
        width: 100%; }
      .footer .main-footer .main-footer-social {
        margin-top: 1rem;
        text-align: center;
        width: 100%; }
        .footer .main-footer .main-footer-social a {
          font-size: 1.2rem; }
          .footer .main-footer .main-footer-social a i {
            font-size: 2rem; }

  .main {
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 1.7rem; }
    .main h2 {
      font-size: 2.2rem; }
    .main ul li {
      margin-top: 2rem; }
    .main .about {
      margin-top: 3rem;
      text-indent: 22px; }
    .main form {
      margin-top: 3rem;
      padding-bottom: 2rem; }
      .main form input {
        width: 100%;
        padding: 0.6rem;
        margin-bottom: 0.6rem; } }
@media screen and (min-width: 1024px) {
  .container {
    width: 70%; }

  #header .open-nav {
    display: none; }
  #header .logo {
    text-align: left;
    width: 20%; }
  #header .main-nav {
    width: 33.333333%;
    float: left;
    position: static;
    background: none;
    width: 65%;
    text-align: right;
    margin-top: -1.8rem; }
    #header .main-nav .icon-close {
      display: none; }
    #header .main-nav ul {
      margin-top: -1;
      position: static;
      margin: 0; }
      #header .main-nav ul form {
        display: none; }
      #header .main-nav ul li {
        font-size: 1rem;
        display: inline-block;
        margin: 0;
        margin-left: 0.3rem;
        padding: 0; }
        #header .main-nav ul li a {
          margin: 0;
          padding: 0; }
          #header .main-nav ul li a:hover {
            color: #3498db; }
  #header .shopping-nav {
    width: 15%; }
    #header .shopping-nav .user-nav {
      font-size: 1rem;
      width: 20%;
      right: 6.5rem; }

  .jumbotron {
    margin-top: 3rem;
    min-height: 33rem; }
    .jumbotron .jumbotron-description {
      padding-top: 23rem; }

  .featured, .products-list, .product, .main {
    min-height: 20rem;
    padding-top: 1.5rem; }
    .featured h2, .products-list h2, .product h2, .main h2 {
      margin-bottom: 1.2rem;
      font-size: 2.2rem; }
    .featured .featured-products, .products-list .featured-products, .product .featured-products, .main .featured-products {
      min-height: 20rem;
      padding-top: 3rem;
      padding-bottom: 0.5rem; }
      .featured .featured-products li, .products-list .featured-products li, .product .featured-products li, .main .featured-products li {
        margin-top: 1.5rem;
        width: 22.5%;
        margin: 1.25%; }

  .main {
    padding-top: 3rem;
    padding-bottom: 2rem; }
    .main form {
      margin-top: 3rem;
      padding-bottom: 2rem; }
      .main form input {
        width: 60%;
        padding: 0.6rem;
        margin-bottom: 0.6rem; }
      .main form textarea {
        width: 60%;
        height: 10rem; }
      .main form .btn {
        width: 60%; } }
/* Large DESKTOP */
@media screen and (min-width: 1600px) {
  .container {
    width: 60%; }

  .jumbotron {
    min-height: 55rem; }
    .jumbotron .jumbotron-description {
      padding-top: 35rem; }
      .jumbotron .jumbotron-description h1 {
        font-size: 4.3rem; }
      .jumbotron .jumbotron-description .btn {
        font-size: 1.5rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem; }

  .mens-collection {
    min-height: 30rem; }
    .mens-collection .mens-collection-title {
      padding-top: 10rem;
      min-height: 15rem; }
      .mens-collection .mens-collection-title h2 {
        font-size: 3rem; }
    .mens-collection .mens-collection-img {
      min-height: 22rem;
      padding-top: 17rem; }
      .mens-collection .mens-collection-img .btn {
        font-size: 1.5rem;
        padding: 1rem 1.5rem; }

  .womens-collection {
    min-height: 30rem; }
    .womens-collection .womens-collection-title {
      padding-top: 10rem;
      min-height: 15rem; }
      .womens-collection .womens-collection-title h2 {
        font-size: 3rem; }
    .womens-collection .womens-collection-img {
      min-height: 22rem;
      padding-top: 17rem; }
      .womens-collection .womens-collection-img .btn {
        padding: 1rem 1.5rem;
        font-size: 1.5rem; }

  .main {
    padding-top: 6rem;
    padding-bottom: 6rem; }
    .main form {
      margin-top: 3rem;
      padding-bottom: 2rem; }
      .main form input {
        width: 60%;
        padding: 0.6rem;
        margin-bottom: 0.6rem; }
      .main form textarea {
        width: 60%;
        height: 10rem; }
      .main form .btn {
        width: 60%; } }

/*# sourceMappingURL=main.css.map */
